*{
  max-width:1920px;
  margin:0px;
  padding:0px;
  font-family:museo-sans, sans-serif;
}

h1, h2{
  font-size:2rem;
  color:white;
  font-weight: initial;
  letter-spacing: 3px;
  margin-left:1px;
}

.profilPicture{
  width:40px;
}

.h1UserPage{
  color:black;
  font-size:1.3rem;
}

.loginPage{
  background-image: url("./assets/backgroundFullSize.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
  height:100vh;
  margin:0px auto;
  display: grid;
  grid-template-rows: auto auto auto;
}
.profileName{
  font-size:1.0rem;
  margin-left:5px;
}
.navBarCenterLogo{
  display: flex;
flex-direction: inherit;
justify-content: center;
align-items: center;
width: 100%;
}
.followUsText{
  font-size:1.3rem;
}

.loginHeader{
  color: white;
}
.businessHourText{
  font-size:0.8rem;
  margin: 5px;
  position:absolute;
  bottom: 0;
  right: 5px;
}
.dailyOfferContainer{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding: 30px;
  box-sizing: border-box;
  background-color: #d50057;
  color:white;
  position: relative;
}
.sideNav{
  height:64px;
}
.loginFooter{
  color: white;
}
.loginForm{
  width:380px;
  padding: 15px;
  margin: 50px auto;
  box-sizing: border-box;
  background-color:white;
  box-shadow: 0px 0px 10px black;
}

.loginHeaderContainer{
  width:100%;
  height:100%;
  padding:20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 50px 100px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loginFooterContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 50px 0px 100px black;
}
.loginFooterContainer > *{
  margin-left:15px;
}
.logo{
  width:40px;
  height:40px;
}
.logoSmall{
  width:30px;
  height:30px;
}

.loginText{
  font-size:2rem;
}


@media (max-width: 600px){
  .sideNav{
    height:56px;
  }
}
@media (max-width: 520px) {

  .loginPage{
    background-image: unset;
    margin:0px auto;
  }

  .loginForm{
    width:100%;
    margin: 30px 0px 30px 0px;
    box-shadow: none;
  }
  .loginHeader{
    background-image: url("./assets/Rectangle 134@2x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height:140px;
    color: white;
  }
  .loginFooter{
    background-image: url("./assets/Rechteck 3@2x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    min-height:140px;
    color: white;
  }
  
}
