*{
  max-width:1920px;
  margin:0px;
  padding:0px;
  font-family:museo-sans, sans-serif;
}

h1, h2{
  font-size:2rem;
  color:white;
  font-weight: initial;
  letter-spacing: 3px;
  margin-left:10px;
}


.searchBarFood{
  max-width:720px;
  width:100%;
  margin:0px auto;
  padding:15px;
  box-sizing: border-box;
}

.logOutText{
  text-align: right;
}

.profilPicture{
  width:40px;
}

.h1UserPage{
  color:black;
  font-size:1.3rem;
}

.loginPage{
  background-image: url("./assets/backgroundFullSize.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
  height:100vh;
  margin:0px auto;
  display: grid;
  grid-template-rows: auto auto auto;
}
.profileName{
  font-size:1.0rem;
  margin-left:5px;
}
.navBarCenterLogo{
  display: flex;
flex-direction: inherit;
justify-content: center;
align-items: center;
width: 100%;
}
.showMenu .showMenuContainer img{
  width:120%;
  display: block;
  position: relative;
  z-index: -1;
}

.showMenuContainerPicture{
  box-shadow: inset 0px 20px 100px black;
  position: relative;
overflow: hidden;
height:160px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.success-toast{
background-color:blue;
}


.showMenuContainerMenuDescribing{
  padding: 10px;
background-color: aliceblue;
height:50px;
}

.showMenuContainerCartFavourit{
  width:100%;
}

.showIncDecButton{
  position: absolute;
  bottom:5px;
  right:5px;

}

.showIsHotText{
  position: absolute;
  top:5px;
  left:5px;
  color:white;
  font-size:0.8rem;
  font-weight: bold;
  padding: 5px;
}

.showPriceText{
  position: absolute;
  top:5px;
  right:5px;
  color:white;
  font-weight: bold;
  font-size:0.8rem;
  background: #d50057;
padding: 5px;
border-radius: 5px;
}

.filderFood{
  padding:15px;
  box-sizing:border-box;
  background-color:#f0f8ff;
  margin:15px;
  border-radius:10px;
}

.countFoodText{
  margin:15px;
}
.showMenu{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 15px;
  box-sizing:border-box;
overflow: auto;

}

.contentFood{
  display: grid;
  grid-template-columns: 1fr 75%;
  padding:15px;
}
.followUsText{
  font-size:1.3rem;
}
.showNoMenu{
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
flex-direction: column;
}
.showNoMenu > *{
  margin:10px;
}
.loginHeader{
  color: white;
}
.businessHourText{
  font-size:0.8rem;
  margin: 5px;
  position:absolute;
  bottom: 0;
  right: 5px;
}
.dailyOfferContainer{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding: 30px;
  box-sizing: border-box;
  background-color: #d50057;
  color:white;
  position: relative;
}
.sideNav{
  height:64px;
}
.loginFooter{
  display:none;
}
.loginFooter{
  color: white;
}
hr{
  border: none;
  height: 1px;
  color: #cacaca; /* old IE */
  background-color: #cacaca; /* Modern Browsers */
  width:100%;
  margin:10px auto;

}
.loginForm{
  width:360px;
  padding: 15px;
  margin: 50px auto;
  box-sizing: border-box;
  background-color:white;
  box-shadow: 0px 0px 10px black;
}

.loginHeaderContainer{
  width:100%;
  height:100%;
  padding:20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 50px 100px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loginFooterContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 50px 0px 100px black;
}
.loginFooterContainer > *{
  margin-left:15px;
}
.logo{
  width:40px;
  height:40px;
}
.logoSmall{
  width:30px;
  height:30px;
}

.loginText{
  font-size:2rem;
}
.filterButton{
  display:none;
  position:fixed;
  bottom:15px;
  right:15px;
  padding:25px;
  background: #d50057;
  border-radius: 50%;
  border:none;
  text-decoration: none;
  z-index: 999;
  box-shadow:0px 0px 10px black;
	cursor: pointer;
	outline: inherit;
}
.FilterFoodModalContent{
  background-color: #f0f8ff;
  border-radius:10px;
  position: relative;
  border:none;
  outline: inherit;
}

.closeModalIcon{
  position: absolute;
  top:10px;
  right:20px;
  font-size:35px;
  cursor:pointer;
}

@media (max-width:680px){
  
  .filterFood{
    display:none;
  }
  .filterButton{
    display: block;
  }
  .contentFood{
    display: grid;
    grid-template-columns: 100%;
    padding:15px;
  }
}

@media (max-width: 600px){
  .sideNav{
    height:56px;
  }
}
@media (max-width: 520px) {

  .loginFooter{
    display:block;
  }

  .dailyOfferContainer{
    background-image: url("./assets/subheader.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
   color: white;;
   box-shadow: inset 0px 20px 200px black;
  }

  .loginPage{
    background-image: unset;
    margin:0px auto;
  }

  .loginForm{
    width:100%;
    margin: 30px 0px 30px 0px;
    box-shadow: none;
  }
  .loginHeader{
    background-image: url("./assets/Rectangle 134@2x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height:140px;
    color: white;
  }
  .loginFooter{
    background-image: url("./assets/Rechteck 3@2x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    min-height:140px;
    color: white;
  }
  
}
